/*
* @Author: 贾思凡
* @Date:   2018-02-25 22:36:58
* @Last Modified by:   贾思凡
* @Last Modified time: 2018-04-01 01:42:45
*/
@font-face {
  font-family: 'iconfont';  /* project id 561407 */
  src: url('https://at.alicdn.com/t/font_561407_rx1lb4l7gacyp66r.eot');
  src: url('https://at.alicdn.com/t/font_561407_rx1lb4l7gacyp66r.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561407_rx1lb4l7gacyp66r.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561407_rx1lb4l7gacyp66r.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561407_rx1lb4l7gacyp66r.svg#iconfont') format('svg');
}
.yiju{
	width: 1366px;
	/* background-color: #e0e0e0; */
	margin: 0 auto;
}
.head{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
 .head img{
	width: 59px;
	height: 55px;
	margin-top: 10px;
	display: block;
	float: left;
}
 .head h3{
	width: 40px;
	height: 56px;
	font-size: 20px;
	float: left;
	margin-top: 10px;
	font-weight: normal;
	
	font-family: "微软雅黑";

}
 .head span{
	font-family: "微软雅黑";
	font-size: 14px;
	margin-right: 14px;
	float: left;
	margin-top: 30px;
}
 .head .shouye{
	margin-left: 310px;
}
 .head .sousuo{
	width: 168px;
	height: 22px;
	float: left;
	margin-left: 14px;
	margin-top: 30px;
	border-radius: 5px;
	border: 1px solid #959595;
	/* background-color: blue; */
}
.sousuo span{
	font-size:18px;
	font-family: 'iconfont';
	float: left;
	margin-top:5px;
	margin-right: 0;
	margin-left: 5px;


}
.content{
	width: 100%;
	background-color: #fff;

}
.head .show{
 	color: #2B6B8E;
 	position: relative;
 }
.show .box1{
	width: 4px;
	height: 4px;
	position: absolute;
	top: -5px;
	left: -10px;
	border-top: 1px solid #2B6B8E;
	border-left: 1px solid #2B6B8E;

}
.show .box2{
	width: 4px;
	height: 4px;
	position: absolute;
	bottom: -5px;
	right: -10px;
	border-bottom: 1px solid #2B6B8E;
	border-right: 1px solid #2B6B8E;

}
#banner{
	width: 100%px;
	height: 282px;
	
} 
.banner{
	width: 100%px;
	height: 249px;
	background-color: #BDCCD4;
	margin: 0 auto;
	position: relative;
}
.anli {
	
	text-align: center;
	font-size: 30px;
	color: #fff;

}
.anli h1{
	padding-top: 78px;
	
}
.anli  h4{
	margin-top: 20px;
	position: absolute;
	left: 590px;
	top: 120px;
	z-index: 3;
	
}
.banner_nav{
	width: 1200px;
	background-color: #2B6C8C;
	height: 70px;
	margin: 0 auto;
	position: absolute;
	top: 214px;
	left: 83px;
	z-index: 2;
}
.banner_nav_left{
	width: 500px;
	height: 70px;
	background-color: #333;
	color: #fff;
	float: left;
}
 
.banner_nav_item{
	font-size: 18px;
}
.banner_nav_item  .nav_line{
	width: 4px;
	height: 34px;
	border-radius: 5px;
	color: #fff;
	float: left;
	margin-left: 30px;
	background-color: #fff;
	margin-top: 17px;
	float: left;
}

.banner_nav_item  span{
	margin-top: 15px;
	margin-left: 3px;
	display: block;
	float: left;
}
.banner_nav_item  .home{
	margin-top: 39px;
	margin-left: -34px;
	font-size: 14px;
}
.banner_nav_item  .home1{
	margin-left: -70px;
}
.banner_nav_item p{
	font-size: 12px;
	margin-top: 25px;
	float: left;
	margin-left: 30px;
}
.banner_nav_line{
	background-color: #F5C813;
	width: 5px;
	float: left;
	height: 70px;
}
#banner img{
	position: absolute;
	right: 91px;
	top: 132px;
	width: 260px;
	height: 242px;
	z-index: 6;
}
#banner .deng{
	position: absolute;
	top: 36px;
	left: 646px;
	width: 75px;
	height: 200px;
	z-index: -1;
}
.box{
	width:142px;
	height: 142px;
	background-color: #FFEA05;
	top: 260px;
	right: 262px;
	border-radius: 5px;
	opacity: .6;
	position: absolute;
	z-index: 6;
}
#banner .img{
	position: absolute;
	top: 10px;
	width: 100px;
	height: 250px;
	left: 600px;
	z-index: 1;
}
#chenggong {
	background-color: #fff;
	width: 1200px;
	margin: 0 auto;
}
.chufang{
	/* background-color: red; */
	margin:0 auto;
	width: 1200px;
	/*height: 900px;*/
	padding-left: 120px;
	padding-right: 96px;
	margin-top: 30px;
	position: relative;
	overflow: hidden;
}
.item14{
	padding-left: 30px;
}
.chufang_top{
	height: 98px;
	border-bottom: 2px dashed #5B5B5B;
}
.chufang_top .chufang_xian{
	width: 50px;
	height: 3px;
	background-color: #e0e0e0;
	margin-bottom: 20px;
}
.chufang_wenzi1{
	font-weight: 400;
	color: #5C5C5E;
	font-size: 24px;
}
.chufang_wenzi1 span{
	color: #5C5C5E;
	font-weight: 700;
}
.chufang_wenzi2 {
	font-weight: 500;
	font-size: 26px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.item15{
	height: 105px;
}
.ct_itemtop_left{
	width: 145px;
	height: 100%;
	/*background-color: yellow;*/
	float: left;
}
.ct_itemtop_left img{
	width: 56px;
	height: 59px;
	float: left;
	margin-right: 5px;
}
.ct_itemtop_left p{
	float: left;
	font-size:21px;
	color: #2B6B8E;
	margin-top: 5px;
}

.ct_itemtop_right{
	overflow:hidden;
}
.ct_item1{
	margin-top: 60px;
	overflow: hidden;
	
}
.cfitemwz1{
	font-size: 20px;
	color: #647E8B;
}
.cfitemwz2{
	font-size: 16px;
	color: #647E8B;
	margin-top: 16px;
}
.cfitemwz3{
	font-size: 14px;
	color: #ccc;
	margin-top: 9px;
}
.item18{
	margin-top: 70px;
}
.ct_biaoti{
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 27px;
}
.ct_biaoti p{
	float: left;
	font-size: 16px;
	font-weight: bold;
	float: left;
	

}
.heidian{
	width: 9px;
	height: 9px;
	float: left;
	background-color: black;
	margin-right: 14px;
	margin-top: 5px;
}
.ct_item1 i{
	color: #C3C3C3;
}
.itemdesc{
	font-size: 14px;
	margin-left: 14px;
	color: #7a7a7a;
	line-height: 25px;
	font-weight: bold;
}
.wzitem1{
	margin-left: 24px;
}
	

.itemdesc2{
	font-size: 14px;
	margin-left: 14px;
	margin-top: 38px;
	color: #7a7a7a;
	line-height: 26px;
	font-weight: bold;
}
.beijingtu{
	width: 100%;
	height: 390px;
	position: relative;
	/*background-color: green;*/

}
/* .bantu1{
	position: absolute;
	top:0px;
	left: 0px;
} */
.wztu1{
	position: absolute;
	top:40px;
	left: 111px;
	border:2px solid white;
	box-shadow:0px 0px 15px 0px #7d7d7d;
	/*margin-bottom: 80px;*/
}
.item19{
	left: 823px;
}
.zutu3{
	top:60px;
}
/* .bantu2{
	position: absolute;
	top:90px;
	left: 355px;
} */
.content1{
	width: 1200px;
	margin: 0 auto;
}

.item14{
	padding-left: 30px;
}

.ct_biaoti{
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 27px;
}
.ct_biaoti p{
	/*width: 954px;*/
	float: left;
	font-size: 16px;
	font-weight: bold;
	float: left;
	

}
.ct_biaoti p{
	/*width: 954px;*/
	float: left;
	font-size: 16px;
	font-weight: bold;
	float: left;
	

}
.ct_item1 i{
	color: #C3C3C3;
}
.wzitem1{
	margin-left: 24px;
}
	

.itemdesc2{
	font-size: 14px;
	margin-left: 14px;
	margin-top: 38px;
	color: #7a7a7a;
	line-height: 26px;
	font-weight: bold;
}
.heidian{
	width: 9px;
	height: 9px;
	float: left;
	background-color: black;
	margin-right: 14px;
	margin-top: 5px;
}
.item17{
	margin-top: 74px;
}
.fenxiang{
	width: 1200px;
	height: 68px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin:0 auto;
	margin-top: 50px;
}
.fxleft{
	width: 60px;
	margin-left: 38px;
	font-size: 12px;
	margin-top: 18px;
	overflow: hidden;
	float: left;
}
.fxwz1{
	color: #a9a9a9;
}
.fxwz2{
	color: #5e5e5e;
}
.fxway{
	width: 150px;
	height: 26px;
	margin-left: 35px;
	margin-right: 406px;
	float: left;
	margin-top: 18px;
	font-family: 'iconfont';
	color: #363636;
}
.fxway span{
	margin-right: 20px;
	line-height: 26px;
	font-size: 26px;
}
.fxsyp{
	width: 220px;
	height: 68px;
	float: left;
	font-size: 14px;
	margin-right: 46px;
	border-right: 3px solid #fe6700;
}
.fxitem1{
	margin-right: 0px;
}
.fxsyp:hover{
	box-shadow: 0px 0px 15px 0px #D6DADB;
	border-right: 3px solid #F5C813;
}
.fxsyp span{
	margin-top: 27px;
	margin-left: 8px;
	margin-right: 10px;
}
.fxgang{
	display: inline-block;
	width: 1px;	
	height: 7px;
	margin-top: 31px;

}
.content4{
	width: 330px;
	height: 40px;
	margin:0 auto;
	font-family: 'iconfont';
	text-align: center;
	line-height: 40px;
	margin-top: 54px;
	margin-bottom: 36px;
	position: relative;
}
.item13{
	width: 190px;
}
.num{
	width: 24px;
	height: 24px;
	background-color: #E5E5E5;
	border-radius: 12px;
	float: left;
	margin:0 auto;
	margin-left: 38px;
	margin-top: 8px;
	text-align: center;
	line-height: 24px;
	margin-right: 22px;
	cursor: pointer;

}
.num:hover{
	background-color: #174E6D;
	color: white;
}
.num2{
	margin-left: 0px;
}
.c4l{
	float: left;
	font-size: 22px;
}
.c42{
	float: right;
	font-size: 22px;
}
#comment{
	width: 1200px;
	margin:0 auto;
	margin-top: 42px;
}
.comment_line{
	width: 30px;
	height: 2px;
	margin-left: 30px;
	background-color: #2C6D8D;
}
.comment_center{
	font-size: 24px;
	margin-top: 10px;
	margin-left: 30px;
}
.brand{
	color: #2C6D8D;
	font-size: 20px;
	font-weight: 700;
	margin-left: 30px;
}
.infor{
	width: 100%;

}
.infor img{
	margin-top:45px;
	width: 134px;
	height: 134px;
	margin-left: 30px;
	float: left;
}
.infor .infor_left{
	width: 970px;
	display: inline-block;
	margin-top: 80px;
	padding-left: 48px;
}
.infor_left p{
	font-size: 18px;
	color: #ccc;

}
.infor_left h3{
	font-size: 20px;
	font-weight: 700;
	color: #000;
	display: inline-block;
}
.infor_left span{
	margin-left: 580px;
	font-size: 16px;
	color: #ccc;
}
.infor_detial{
	width: 873px;
	height: 78px;
	padding-left: 48px;
	margin-top: 20px;
	padding-top: 42px;
	padding-right: 48px;
	border: 1px solid #ccc;
	color: #7a7a7a;
}
#map{
	width: 1200px;
	height: 520px;
	background-color: #245974;
	margin: 0 auto;
	position: relative;
}
#map .ditu{
	margin: 0 auto;
	display: block;
	padding-top: 70px;
	width: 1000px;
	height: 160px;
}
.map_bottom{
	height: 240px;
	width: 1000px;
	margin: 0 auto;
}
.address{
	width: 260px;
	height: 70px;
	border-radius: 8px;
	background-color: #2B6C8C;
	position: absolute;
	top: 130px;
	right: 400px;

}
.address p{
	margin-left: 10px;
	margin-top: 10px;
	color: #e0e0e0;
}
#map .icon{
	font-family: 'iconfont';
	color: #2b6c8c;
	font-size: 30px;
	position: absolute;
	top:150px;
	left:500px;
}
.map_bottom .contact{
	width: 430px;
	height: 167px;
	float: left;
	padding-top: 40px;
}
.contact_name{
	width: 184px;
	height: 30px;
	/* color: #e0e0e0; */
	/* padding-top: 18px; */
	padding-left: 20px;
	font-size: 14px;
	margin-right: 11px;
	float: left;
	display: block;
}
.contact_emil{
	width: 184px;
	height: 30px;
	/* color: #e0e0e0; */
	/* padding-top: 18px; */
	font-size: 14px;
	float:left;
	display: block;
}
.contact .message{
	height: 126px;
	width: 402px;
	margin-top: 11px;
	overflow: hidden;
	float: left;
	position: relative;
}
.contact_message{
	width: 402px;
	height: 126px;
	padding-top: 10px;
	padding-left: 10px;
/* 	color: #e0e0e0; */

}
.message_box {
	width: 68px;
	height: 23px;
	border-bottom: 2px solid #88ADBF;
	position: absolute;
	bottom: 10px;
	right: 30px;
	padding-top: 5px;
}
.message_box span{
	font-size: 12px;
	color: #88ADBF;
	float: left;
	margin-top: 4px;
	margin-left: 2px;
}
.message_box .message_more{
	width: 25px;
	height:25px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	float: left;
	margin-left:8px;
	background-color: #2D6C8F;
}
.more_help{
	width:363px;
	height: 167px;
	float: left;
	padding-top: 40px;
	margin-left: 40px;

}
.more_help h1{
	font-size: 20px;
	color: #fff;
	margin-top: 15px;
}
.more_help h2{
	font-size: 18px;
	color: #55798E;
	margin-left: 0;
	font-weight: normal;

}
.more_help .item{
	margin-top: 26px;
	font-size: 14px;
	color: #fff;
	margin-right: 65px;
	float: left;

}
 .item h5{
	margin-top: 10px;
}
.meiti{
	width: 160px;
	height: 175px;
	float: left;
	margin-top: 60px;
	color: #FFF;
	
}
.meiti .yunying{
	font-size:20px;
}
.meiti .more{
font-size:12px;
}
.meiti  h6{
	font-size:12px;
	margin-top:30px;
	float: left;

}
.meiti span{
	font-family: "iconfont";
	color: #fff;
	font-size: 24px;
	float: left;
	margin-top: 37px;
	display: block;
	margin-right: 32px;
}
.meiti .QQ{
	margin-right: 0;
}
#bottom{
	height: 56px;
	width: 1200px;
	background-color: #333;
	margin: 0 auto;
}
#bottom h1{
	padding-top: 20px;
	display: block;
	text-align: center;
	color: #e0e0e0;
	font-size: 12px;
}
#bottom h2{
	display: block;
	text-align: center;
	color: #e0e0e0;
	font-size: 12px;
}